*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.taskManeger {
    display: flex;
    justify-content: space-around;
}

.task {
    width: 100%;
    margin: 0 1% 0 1%;
}
.taskManeger img {
    width: 80%;
}